@Model MembershipUserCollection;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllUsers</title>
</head>
<body>
<div>
    
</div>
</body>
</html>
