@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

    

    <address>
        <strong>Teamspeak :</strong> <p>Dead-inside.voice-server.ru</p>
<br />
        <strong>Совет гильдии:</strong> <P>  <a href="https://vk.com/ikymiko">Давид</a><br /> <a href="https://vk.com/gorodskoy_boy">Валентин</a></p>
        
    </address>
